.header {
    position: absolute;
    z-index: 55;
    padding: 20px 0;
    top: 0;
    width: 100%;

}
.container {
}
.header__body {
    display: flex;
    align-items: center;
   
}
.header__logo {
    flex-shrink: 0;
    transition: all 0.3s;
    margin-right: 15px;
}

.header__logo:hover {
    opacity: 0.6;


}


.header__menu {
    margin-left: auto;
    margin-right: 84px;
}
.menu {
}
.menu__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-wrap: wrap
}
.menu__item {
    margin-right: 30px;
}
.menu__item:last-child{
    margin-right: 0;
}
.menu__link {
    text-decoration: none;
    color: var(--light);
}

.menu__link:hover{
    color: var(--accent-color);
    transition: all 0.3s;
}

.header__btn{

}


@media(max-width: 1024px){

    .header{

        position: static;
        padding: 10px 0;

    }

    .header__logo{
        order: 1;

    }

    .header__menu{
        margin-top: 15px;
        order: 3;
        flex: 1 1 100%;
        margin-right: unset;
        overflow-y: auto;

    }

    .header__btn{
        order: 2;
        margin-left: auto;
    }

    .header__body{
        flex-wrap: wrap;

    }

    .menu__list{
        flex-wrap: nowrap;
    }

    .menu__item{
        flex-shrink: 0;
    }

}

