*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    min-height: 100%;
}

img{
    max-width: 100%;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.wrapper{
    display: flex;
    min-height: vh;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
}

.container{
    margin: 0 auto;
    padding: 0 var(--container-paddings);
    max-width: calc(var(--container-width) + var(--container-paddings) * 2);
    
}

.btn{
    
    display: block;
    text-decoration: none;
    background-color: var(--accent-color);
    border-radius: 25px;
    font-weight: 600;
    color: var(--btn-color);
    text-transform: uppercase;
    padding: 8px 28px;
    border: 2px solid transparent;
}

.btn:hover{
    background: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    transition: all 0.3s;
}

@media(max-width: 425px){
    .btn{
        padding: 8px 15px;
    }
}

