.first {
    position: relative;
    padding-top: 146px;
    padding-bottom: 53px;


    background: url('../../img/first/bg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first::after{
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 354px;
    background: url(../../img/first/decor.svg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;


}

.first__body {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.first__content {
    max-width: 466px;
    margin-right: 114px;
    
    
}
.first__title {  
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    color: var(--title-color);
    line-height: 150%;
    margin-bottom: 25px;
}
.first__text {
    margin: 0;
    padding: 0;
    max-width: 368px;
    margin-bottom: 45px;
}
.first__link {
    display: inline-block;
}
.first__image {
}


@media(max-width: 1024px){

    .first{
        padding: 30px 0;

    }
    .first__content{
        margin-right: 15px;

    }

    .first__title{
        font-size: 35px;
        margin-bottom: 15px;
    }

    .first__text{
        margin-bottom: 25px;
    }
}


@media(max-width: 768px){
    .first__image{
        display: none;
    }

    
}